﻿@using TestSuperBrands.Models
@model  Tuple<Attributes, SelectedListModel>

<h2>Добавление атрибута</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class = "control-label col-md-2">Название</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.Name, new { htmlAttributes = new { @Name = "Name", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <p class="control-label col-md-2">Категория</p>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Item2.SelectedCategories, Model.Item2.Categories as SelectList, new { @Name = "SelectedCategories" });
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться", "IndexAttributes")
</div>
