﻿@using TestSuperBrands.Models
@model Products

<h2>Добавление продукта</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Categories_Id)
        <div class="form-group">
            <p class="control-label col-md-2">Название</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            for(var i = 0; i< Model.Values.Count; i++)
            {
                <div class="form-group">
                    <p class="control-label col-md-2">@Model.Values.ElementAt(i).Attributes.Name</p>
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.Values.ElementAt(i).Attributes.id, new { @Name = "Values[" + i + "].Attributes_Id" })
                        @Html.EditorFor(m => m.Values.ElementAt(i).Value, new {htmlAttributes = new {   @id = "Values[" + i + "]", @Name = "Values[" + i + "].Value", @class = "form-control" } })
                    </div>
                </div>
            }

        }
            

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "IndexProduct")
</div>

