﻿@model TestSuperBrands.Models.Attributes


<h2>Удаление</h2>

<h3>Действительно удалить атрибут @Model.Name ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Дата создания: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "IndexAttributes")
        </div>
    }
</div>
