﻿@model  Tuple<TestSuperBrands.Models.AttributeValues, int>

<h2>Удаление</h2>

<h3>Действительно удалить? После удаления атрибут @Model.Item1.Value не будет доступен</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Значение атрибута:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Value)
        </dd>

        <dt>
            Дата добавления:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.CreateTime)
        </dd>

        <dt>
            Атрибут
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Attributes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Удалить", "DeleteAttributeValue", new { id = Model.Item1.id, idd = Model.Item2 }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
