﻿@model TestSuperBrands.Models.Categories


<h2>Удаление</h2>

<h3>Действительно удалить категорию @Model.Name?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "IndexCategories")
        </div>
    }
</div>
