﻿@model TestSuperBrands.Models.Products

<h2>Редактирование продукта</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.Categories_Id)
        @Html.HiddenFor(model => model.CreateTime)
        @Html.HiddenFor(model => model.DeleteTime)
        <div class="form-group">
            <p class="control-label col-md-2">Название</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            for (var i = 0; i < Model.Values.Count; i++)
            {
                int j = Model.Values.ElementAt(i).id;
                <div class="form-group">
                    <p class="control-label col-md-2">@Model.Values.ElementAt(i).Attributes.Name</p>
                    <div class="col-md-10">
                        @Html.HiddenFor(model => j, new { @Name = "Values[" + i + "].id" })
                        @Html.HiddenFor(model => model.Values.ElementAt(i).Attributes_Id, new { @Name = "Values[" + i + "].Attributes_Id" })
                        @Html.HiddenFor(model => model.Values.ElementAt(i).Products_Id, new { @Name = "Values[" + i + "].Products_Id" })              
                        @Html.HiddenFor(model => model.Values.ElementAt(i).CreateTime, new { @Name = "Values[" + i + "].CreateTime" })
                        @Html.HiddenFor(model => model.Values.ElementAt(i).DeleteTime, new { @Name = "Values[" + i + "].DeleteTime" })
                        @Html.EditorFor(m => m.Values.ElementAt(i).Value, new { htmlAttributes = new { @Name = "Values[" + i + "].Value", @class = "form-control" } })
                    </div>
                </div>
            }

        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться на главную", "Index")
</div>
