﻿
<h2>Редактор</h2>

<div style="margin-top:30px;">
    <h4>Редактирование аттрибутов</h4>
    @Html.ActionLink("Подробнее...", "IndexAttributes")
</div> 
<div>
    <h4>Редактирование категорий</h4>
    @Html.ActionLink("Подробнее...", "IndexCategories")
</div> 
<div>
    <h4>Редактирование каталога продуктов</h4>
    @Html.ActionLink("Подробнее...", "IndexProduct")
</div>
