﻿@using TestSuperBrands.Models
@model Tuple< ICollection<Categories>, ICollection<Products>>
@{
    ViewBag.Title = "Главная";
}

<div class="content">
    <div class="left-block">
        <ul class="closed">
            @foreach(var item in Model.Item1)
            {
                <li>@Html.ActionLink(@item.Name, "Index", new { name = @item.Name}, new { @class = "link" })</li>
                
            }
        </ul>
    </div>
    <div class="right-block">
        <table cellpadding="5" cellspacing="5">
            @{ 
                const int NumberOfColumns = 4;
                int skip = 0;
                var items = Model.Item2.Skip(skip).Take(NumberOfColumns);
                while (items.Count() > 0)
                {
                    <tr>
                        @foreach (var item in items)
                        {
                            <td>
                                <div class="modul-product">
                                    <div class="content-product">
                                        <div class="icon-product"></div>
                                        <div>@Html.ActionLink("Подробнее", "InfoProduct", new { id = @item.id }, new { @class = "btn btn-default btn-product" })</div>
                                        <div class="header-product"> @item.Name</div>
                                        <div class="date-product"> @item.CreateTime</div>
                                    </div>
                                </div>
                            </td>
                            
                        }
                    </tr>
                    skip += NumberOfColumns;
                    items = Model.Item2.Skip(skip).Take(NumberOfColumns);
                }
            }
        </table>
        
    </div>
</div>

