﻿@model IEnumerable<TestSuperBrands.Models.AttributeValues>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategories", new { id = item.id }) |
                @Html.ActionLink("Details", "DetailsCategories", new { id = item.id }) |
                @Html.ActionLink("Delete", "DeleteCategories", new { id = item.id })
            </td>
        </tr>
    }

</table>