﻿@model IEnumerable<TestSuperBrands.Models.Categories>

<h2>Категории</h2>

<p>
    @Html.ActionLink("Добавить категорию", "CreateCategories")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "EditCategories", new { id=item.id }) |
            @Html.ActionLink("Удалить", "DeleteCategories", new { id=item.id })
        </td>
    </tr>
}
    

</table>
@Html.ActionLink("Назад", "Edit")