﻿@model IEnumerable<TestSuperBrands.Models.Products>

<h2>Продукты</h2>

<p>
    @Html.ActionLink("Добавить продукт", "CreateProductCategories")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "EditProduct", new { id = item.id }) |
                @Html.ActionLink("Удалить", "DeleteProduct", new { id = item.id })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Назад", "Edit")