﻿@model IEnumerable<TestSuperBrands.Models.Attributes>

<h2>Атрибуты</h2>

<p>
    @Html.ActionLink("Добавить атрибут продукта", "CreateAttributes")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "EditAttributes", new { id = item.id }) |
                @Html.ActionLink("Удалить", "DeleteAttributes", new { id = item.id })
            </td>
        </tr>
    }
    
</table>
@Html.ActionLink("Назад", "Edit")