﻿@model TestSuperBrands.Models.Products


<div>
    <h4 style="margin-top:50px;">Информация о продукте:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Дата добавления
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            Категория
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>

        @foreach (var item in Model.Values)
        {
            <dt>
                @item.Attributes.Name
            </dt>

            <dd>
                @item.Value
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "EditProduct", new { id = Model.id }) |
    @Html.ActionLink("Вернуться на главную", "Index")
</p>
