﻿body{
    margin-top:65px;
}
.col-md-10 {
    width:300px;
}
.rectangle{
    counter-reset: li;
    list-style:none;
    padding:0;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
    margin:0;
    width:400px;
    position:relative;
}
.btn_ol{
    position:absolute;
    right:0;

}
.table, th{
    width:400px;
    text-align:center;
}

.rectangle li{
    height:40px;
}