﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */

/*Заливка правого блока*/
.index_block{
    background-color:#e3491b ; /* black*/
}
.about_block{
    background-color:black;
}
.contact_block{
    background-color:#a72734;
}
.college_block{
    background-color:#115f9a;
}
.army_block{
    background-color:#7aa529;/*89b92d;*/
}
.project_block{
    background-color:#a40045;
}
.project_pr1{
    background-color:#a40074;
}
.project_pr2{
    background-color:#3a00a4;
}
.project_pr3{
    background-color:#7000a4;
}



 .body-content {
        position:initial;
    }
    .left_block {
        position: absolute;
        width: 50%;
        left: 0;
        top: 0;
        bottom:0;
    }
    .left_block .photo_about {
        padding: 15px;
    }

.right_block{
    padding-left: 4%;
    padding-right: 4%;
    min-height:100%;
    position:absolute;
    right: 0;
        width: 50%;
        top: 0;
    color:white;
}
.right_block h2{
    color:white;

}
h2{
    margin-top:20%;
    line-height: 1;
    font-size: 61px;
}
.about_block h2{
    color:lawngreen;
}
.titul {
    margin-top:10%;
    width:100%;
    position:relative;
    height:250px;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    text-align:center
}
.titul h1{
    line-height: 1;
    color: inherit;
    font-size: 51px;
}
.titul p {
  line-height: 1.4;
}





/*Фотографии для левого блока*/
.photo_index, 
.photo_about, 
.photo_army, 
.photo_contact, 
.photo_college, 
.photo_project, 
.photo_Pr1, 
.photo_Pr2, 
.photo_Pr3{
    height:100%;
    width:50%;
    background-position: center top;
    background-color:white;
}
.photo_index{
    background-image:url(../Image/BG_Index2.jpg);
}
.photo_about{
    background-image:url(../Image/Photo_NoColor2.jpg);
}
.photo_army{
    background-image:url(../Image/Photo_ColorV2.jpg);
}
.photo_contact{
    background-image:url(../Image/Photo_contact2.jpg);
    
}
.photo_college{
    background-image:url(../Image/Photo_college2.jpg);
}
.photo_project{
    background-image:url(../Image/Photo_project2.jpg);
}
.photo_Pr1{
    background-image:url(../Image/Photo_Pr12.jpg);
}
.photo_Pr2{
    background-image:url(../Image/Photo_Pr22.jpg);
}
.photo_Pr3{
    background-image:url(../Image/Photo_Pr32.jpg);
}
.block_photo {
    position:fixed;    
    background-color:white;
    background-repeat:no-repeat;   
    background-size: 100% auto;
}








/*Списки с галочками*/
.info_ul{
    list-style:none;
    margin:0;
    position:relative;
    left:0;
}
.info_ul li{
    margin: 3px 0;
    position:relative;
}
.info_ul li:before{
    padding-right:10px;
    font-weight: bold;
    content: "\2714";
    transition-duration: 0.5s;
}
.info_ul li:hover:before{
    color:lawngreen;
    content:"\2714";
}



/*Меню*/
.navigation{
    width:200px;
    height:100%;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:0;
    list-style:none;
    padding-left:0;
    background-color:#111;
}
.nav-item {
    width:200px;
    border-top:  1px solid #111;
    border-bottom: 1px solid #000;
}
.nav-item a {
    display: block;
    padding: 1em;
    background: linear-gradient(135deg,rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    color:white;
    font-size: 1.2em;
    text-decoration:none;
    transition: color 0.2s, background 0.5s;
}
.nav-item a:hover{
    color:#c74438;
    background:linear-gradient(135deg,rgba(0,0,0,0) 0%, rgba(75,20,20,0.65) 100%);
}
.site-wrap{
    min-height:100%;
    min-width:100%;
    position:absolute;
    top:0;
    z-index:1;
}
.nav-trigger{
    position:absolute;
    clip:rect(0,0,0,0);
}
label[for="nav-trigger"]{
    position:fixed;
    left:0;
    top:0;
    z-index:2;
    height:50px;
    width:50px;
    cursor:pointer;
    background-image:url(../Image/btn_about.png);
    background-size:contain;
}
.nav-trigger + label, .site-wrap{
    transition: left 0.3s;
}
.nav-trigger:checked + label{
    left: 200px;
}
.nav-trigger:checked ~ .site-wrap{
    left:200px;
}




/*Форма обратной связи*/
.well{
    padding:10px;
    position:relative;
    width:100%;
    height:100%;
}
.well label{
    color:#a72734;
}
.well .input-xxlarge{
    width:280px;
    margin:5px;
}
.btn_sub{
    bottom:5px;
    right:5px;
    background-color:#a72734;
}
.btn_sub:hover{
    background-color:#fff;
    color:#a72734;
    box-shadow:inset 0 0 3px #a72734;
}


/*блок с данными контактов*/
.info_block{
    position:relative;
    margin-top:25px;
}

@media screen and (min-width: 1000px){
    .col-md-4 {
        min-height: 250px;
    }
}
@media screen and (max-width: 999px){
    .col-md-4 {
        min-height: 300px;
    }
}
@media screen and (max-width: 991px){
    .col-md-4 {
        min-height: 150px;
    }
    
}
@media screen and (min-width: 981px) {
   .left_block{
        width:50%;
    }
    .right_block{
        width:50%;
    }
    
    p .btn::before,
    p .btn::after{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border: 2px solid white;
        content:'';
        transition: transform 0.3s, opacity 0.3s;
    }
    .btn::after{
        transform: scale(1); /*translateY(-8px) translateX(7px);*/
        opacity:0;
        border-color:#fff;
    }

    .btn:hover::before,
    .btn:focus::before{
        opacity:0;
        transform: scale(1.3); /*translateY(5px) translateX(-5px);*/ 
    }

    .btn:hover::after,
    .btn:focus::after{
        opacity:1;
        transform: scale(1.6); /*translateY(0px) translateX(0px);*/ 
    }
    .text_col_md_4{
        margin-bottom:50px;
    }
    .row{
        position:relative;
    }
    .col-md-4{
        text-align:center;
    }
    .col-md-4 .btn{
        bottom:0;
    }
    .col-md-4 .btn{
        left:50%;
        transform: translate(-50%, 0);
    }
    *:after, *::before{
        box-sizing: border-box;
    }
    .btn_div1,
    .btn_div2,
    .btn_div3,
    .btn_div4{
        width:50px;
        height:50px;
        left:-25px;
        bottom:35px;
        outline: 1px solid white;
    }
    
    .btn_div1:hover,
    .btn_div2:hover,
    .btn_div3:hover,
    .btn_div4:hover{
        border:1px solid #fff;
        background-color:rgba(0,0,0,0.2);
    }
    .btn, .btn:hover{
        position:absolute;
        color:#fff;
        border: 0px;
    }
    .index_block .btn{
        left:50%;
        transform:translate(-50%,0);
        background-color:#e3491b;
    }
    .contact_block .btn{
        background-color:#a72734;
    }
    .btn_div1{
        background-color:#a40045;
    }
    .btn_div2{
        background-color:#a40074;
    }
    .btn_div3{
        background-color:#3a00a4;
    }
    .btn_div4{
        background-color:#7000a4;
    }
    .btn-lg{
        bottom:0;
        line-height:50px;
        height:70px;
        width:230px;
    }
    .btn_sub{
        right:10px;
        bottom:10px;
    }

    .footer{
        position:fixed;
        bottom:0;
        right:0;
        padding-right:3%;
        background-color:rgba(0,0,0,0.5);
        color:white;
        width:50%;
        text-align:right;
    }
}

@media screen and (max-width: 980px){
    body{
        position:relative;
    }
    .navigation{
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    .left_block{
        width:100%;
        top:0;
        height:400px;
        background-color:#fff;
    }
    .right_block{
        width:100%;
        padding-left:10%;
        top:400px;
        padding-bottom:25px;
    }
    .photo_index, 
    .photo_army, 
    .photo_contact, 
    .photo_college, 
    .photo_project, 
    .photo_Pr1, 
    .photo_Pr2, 
    .photo_Pr3{
        position:absolute;
        width:100%;
        top:-50%;
        height:800px;
    }
    .photo_about{
        display:block;
        width:310px;
        bottom:-100px;
        left:50%;
        margin-right:-50%;
        transform: translate(-50%,0);
        position:absolute;
        background-color:#fff;
    }
    .cntr{
        background-color:#fff;
        width:100%;
    }
    .footer{
        display:none;
        bottom:0;
    }
    .info_block{
        margin-bottom:40px;

    }
    .project_block, 
    .project_pr1, 
    .project_pr2, 
    .project_pr3{
        padding-bottom:75px;
    }
    .btn {
        position:absolute;
        width:200px;
        height:50px;
        color:#fff;
        background-color: rgba(0,0,0,0.2);
        text-align:center;
        line-height:40px;
        vertical-align:middle;
        outline: 1px solid #fff;
        outline-offset: -5px;
        left:50%;
        margin-right:-50%;
        transform: translate(-50%,0);
        
    }
    .btn-lg{
        height:80px;
        line-height:60px;
        font-size:x-large;
    }
    
    .index_block .btn:hover {
        background-color:white;
        color:#e3491b;
        border: 1px solid #e3491b;
    }
    .col-md-4{
        margin-bottom:90px;
    }
    .well{
        padding-bottom:50px;
    }
    .contact_block .btn:hover{
        background-color:white;
        color:#a72734;
        border: 1px solid #a72734;
    }
    .second_div,
    .first_div,
    .tree_div,
    .four_div{
        display:block;
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
    }
    .btn_div1,
    .btn_div2,
    .btn_div3,
    .btn_div4{
        display:block;
        position:absolute;
        bottom:10px;
        left:50%;
        margin-right:-50%;
        transform: translate(-50%,0);
        
    }
    .btn_div1{
        background-color:#a40045;
        color:#fff;
    }
    .btn_div1:hover{
        background-color:#fff;
        color:#a40045;
    }
    .btn_div2{
        background-color:#a40074;
        color:#fff;
    }
    .btn_div2:hover{
        background-color:#fff;
        color:#a40074;
    }
    .btn_div3{
        background-color:#3a00a4;
        color:#fff;
    }
    .btn_div3:hover{
        background-color:#fff;
        color:#3a00a4;
    }
    .btn_div4{
        background-color:#7000a4;
        color:#fff;
    }
    .btn_div4:hover{
        background-color:#fff;
        color:#7000a4;
    }
}
