﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.left-block{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:10%;
    background-color:#e3491b;
}

.left-block ul{
    height:100%;
    width:10%;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    padding-top:50px;
}
.left-block li{
    position:relative;
    left:0;
    list-style:none;
    margin-top:10px;
    padding-bottom:5px;
    margin-left:-40px;
    border-bottom: 1px solid white;
    
    text-align:center;
}
.link {
    text-decoration:none;
    color:black;  
    font-weight:bold;
    width:100%;
}
.link:hover{
    text-decoration:none;
    color:white;  
}
footer{
    position:absolute;
    bottom:0;
    right:20px;
}
.right-block{
    position:absolute;
    right:0;
    top:10%;
    bottom:0;
    width:90%;
    padding:20px;
}
.modul-product{
    width:200px;
    height:200px;
    border: 1px solid black;
}
.icon-product{
    position:relative;
    width:198px;
    height:150px;
    top:0px;
    background-image:url(../Image/9.jpg);
}
.header-product{
    position:relative;
    width:100%;
    height:68px;
    top:-54px;
    background-color:#e3491b;
    color:white;
    text-align:center;
    padding-top:5px;
}
.date-product{
    position:relative;
    top:-75px;
    text-align:right;
    right:5px;
    color:white;
}
.btn-product{
    position:relative;
    width:198px;
    background-color:rgba(0,0,0,0.4);
    color:gray;
    top:-150px;
}
.btn:hover{
    background-color:rgba(0,0,0,0.5);
    color:white;
}