﻿@model Proba2.Model.EmailModel
@{
    Layout = null;
}
<html>
    <body>
        <div>
            <h1>Вам сообщение от пользователя @Model.From</h1>
        </div>
        <h1>Тема: @Model.Subject</h1>
        <p>Сообщение: @Model.Body</p>
    </body>
</html>

