﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddWIC - Мое маленькое портфолио</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <ul class="navigation">
        <li class="nav-item">
            @Html.ActionLink("Домашняя страница", "Index", "Home")
        </li>
        <li class="nav-item">
            @Html.ActionLink("Обо мне", "About", "Home")
        </li>
        <li class="nav-item">
           @Html.ActionLink("Контакты", "Contact", "Home")
        </li>
        <li class="nav-item">
            @Html.ActionLink("Проекты", "ProjectPage", "Home")
        </li>
    </ul>
    <input type="checkbox" id="nav-trigger" class="nav-trigger"/>
    <label for="nav-trigger"></label>
   
   <div class="site-wrap">
       <div class="container body-content">

           @RenderBody()
           <div class="footer">

               <footer>
                   <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
               </footer>
           </div>
       </div>
   </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


