﻿@model TestTeleDOC.Models.Organization

@{

}

<h2>Добавление организации</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Название</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">ИНН</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.INN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Учредители</label>
            <div class="col-md-10">
                <div id="boockBlock">
                    <div id="BookItem">
                        
                    </div>
                </div>
                <p><a class="addLink btn btn-default">Добавить учредителя</a></p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться на главную", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            var i = -1;
            $('.addLink').click(function () {
                i++;
                var html2Add = "<div class='bookItem'>" +
                    "<h4>Учредитель № " + (i + 1) + "</h4>" +
                    "<div><label>Фамилия</label></div>" +
                    "<input type='text' name='Founders[" + i + "].Lastname' />" +
                    "</div>" + "<div><label>Имя</label></div>" +
                    "<input type='text' name='Founders[" + i + "].Firstname' />" +
                    "</div>" + "<div><label>Отчество</label></div>" +
                    "<input type='text' name='Founders[" + i + "].Middlename' />" +
                    "</div></div></div>";
                $('#boockBlock').append(html2Add);
            })
        })
    </script>
}
