﻿@model TestTeleDOC.Models.Founder

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление учредителя</h2>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>@Model.Lastname @Model.Firstname @Model.Middlename</h4>
    <hr />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться на главную", "Index")
        </div>
    }
</div>