﻿@using TestTeleDOC.Models
@model Tuple<Organization, ICollection<Founder>>

@Html.DisplayNameFor(tuple => tuple.Item1.OrganizationId)
<h2>Изменение</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Organization</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item1.OrganizationId)

        <div class="form-group">
            <label class="control-label col-md-2">Название</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">ИНН</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.INN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.INN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Список учредителей</label>
            <div class="col-md-10">
                <ol class="rectangle">
                    @foreach (var item in Model.Item1.Founders)
                    {
                        <li>
                            @item.Lastname @item.Firstname @item.Middlename
                            <button type="button" class="btn btn_ol btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true">
                                    @Html.ActionLink("Удалить", "FouderDeleteList", new { id = item.FounderId, idd = Model.Item1.OrganizationId })
                                </span>
                            </button>
                        </li>
                    }
                </ol>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Добавить учредителей</label>
            <div class="col-md-10">
                <ol class="rectangle">
                    @foreach (var item in Model.Item2)
                    {
                        <li>
                            @item.Lastname @item.Firstname @item.Middlename
                            <button type="button" class="btn btn_ol btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                @Html.ActionLink("Добавить", "FounderListCreate", new { id = item.FounderId, idd = Model.Item1.OrganizationId })

                            </button>

                        </li>
                    }
                </ol>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="save_create" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться на главную", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
}
