﻿@model IEnumerable<TestTeleDOC.Models.Organization>

@{
    ViewBag.Title = "Index";
}

<h2>Главная | Список организаций</h2>


<table class="table table_fouder">
    <tr>
        <th>
            №
        </th>
        <th>
            Название
        </th>
        <th>
            ИНН
        </th>
        <th>
            Список учредителей
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INN)
        </td>
        <td>
            <ol class="rectangle">
                @foreach(TestTeleDOC.Models.Founder it in item.Founders)
                {
                    <li>@it.Lastname @it.Firstname @it.Middlename</li>
                }
            </ol>
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.OrganizationId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.OrganizationId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Добавить", "Create") | @Html.ActionLink("Каталог учредителей", "ListFounder")
</p>

