﻿@using TestTeleDOC.Models
@model IEnumerable<Founder>
@{
    ViewBag.Title = "ListFounder";
}
<h4>Список учредителей</h4>
<table class="table table_fouder">
    <tr>
        <th>№</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Организация</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FounderId
            </td>
            <td>
                @item.Lastname
            </td>
            <td>
                @item.Firstname
            </td>
            <td>
                @item.Middlename
            </td>
            <td>
                @if (@item.Organization != null) { @item.Organization.Name }
            </td>
            <td>
                @Html.ActionLink("Убрать учредителя", "DeleteFounder", new { id = item.FounderId })
            </td>
        </tr>

    }
</table>
<p>
    @Html.ActionLink("Добавить учредителя", "CreateFouders") | @Html.ActionLink("Вернуться на главную", "Index")
</p>

