﻿@{
    ViewBag.Title = "Привет";
}
<div  class="All_block_father">
    <div class="cntr">
        <div class="left_block">
            <div class="block_photo photo_about"></div>
        </div>
    </div>
    <div class="right_block about_block">

        <h2>@ViewBag.Title!</h2>
        <h3>@ViewBag.Message</h3>

        <h3>Я разработчик и в настоящее время изучаю основы ASP.Net разработки</h3>
        <br/>
        <h3>Навыки:</h3>
        <ul class="info_ul">
            <li>Программирование на Delphi, VBA, JavaScript, Java (Android), C# (ASP.NET, преимущественно WPF)</li>
            <li>Знание языков разметки документов (Web-сайтов): HTML, CSS</li>
            <li>Работа с модульным тестированием (Unit test)</li>
            <li>Базовая работа с базами данных MS SQL, My SQL</li>
            <li>Умение находить эффективные решения, работать на результат</li>
            <li>Умение работать с большим объемом информации</li>
            <li>Умение работать в динамических условиях</li>
        </ul>

        <h3>Личные качества:</h3>
        <ul class="info_ul">
            <li>Аналитический склад ума</li>
            <li>Дисциплинированность</li>
            <li>Инициативность</li>
            <li>Коммуникабельность</li>
            <li>Креативность</li>
            <li>Организованность</li>
            <li>Ответственность</li>
            <li>Способность к самообучению</li>
            <li>Желание развиваться и работать над своими навыками</li>
            <li>Стрессоустойчивость</li>
            <li>Целеустремленность</li>
        </ul>
        <p><b>Владение языками</b> русский - свободно; английский - чтение технической документации</p>
        <br />
        <br />
    </div>
</div>