﻿
@{
    ViewBag.Title = "Учеба в колледже";
}
<div  class="All_block_father">
    <div class="left_block">
        <div class="block_photo photo_college"> </div>
        <div class="Eye_block"></div>
    </div>
    <div class="right_block college_block">
        <h2>Учеба в колледже</h2>

        <p>
            Я увлекся программированием еще в 2011 году.
            Но это было неосознанное желание изучить что-то необъятное.
            В следствии этой непреодолимой силы я выбрал пойти учиться в
            Саратовский колледж радиоэлектроники им. П.Н. Яблочкова по
            специальности «Программирование в компьютерных системах».
            Уже со второго курса мне стало мало классической программы обучения.
            На первую практику по программированию алгоритмических задач
            я решил себе усложнить задачу и написал все программы на
            Паскаль (по программе) и на С++. На третьем курсе я писал
            только на С++, но решил, что хорошо бы получить дополнительно
            практику системного администратора и во внеурочное время
            заделался лаборантом при колледже.
            На четвертом курсе в 2016 году я открыл для себя WPF и в дальнейшем
            все практики, курсовые проекты, дипломная работа были написаны в WPF.
            Тема дипломного проекта: «Организация распознавания
            аудиопотоков по протоколу MIDI Time Code с последующим удалением шумов».
        </p> <br/>
        <h4>Участие в жизни колледжа вне занятий</h4>
        <ul class="info_ul">
            <li>Участие в конференциях</li>
            <li>Участие в олимпиадах по программированию</li>
            <li>Помощь в написании программ для курсовых проектов</li>
            <li>Помощь системному администратору</li>
        </ul>
    </div>
</div>