﻿@model Proba2.Model.EmailModel
@{
    ViewBag.Title = "Контакты";
}

<div>
    <div class="left_block">
        <div class="block_photo photo_contact"> </div>
        <div class="Eye_block"></div>
    </div>
    <div class="right_block contact_block">
        <h2>@ViewBag.Title</h2>

        <div class="info_block">

            <abbr title="Мобильный номер">Т:</abbr>
            +7 999.083.2985
        </div>

        <div class="info_block">
            <h3>Электронная почта</h3>
            <strong>Yandex:</strong> l.zinovev@yandex.ru   <br />
            <strong>Google:</strong> MegassPo@gmail.com    <br />
            <strong>Mail:</strong> Leo_zinovev@mail.ru    <br />
        </div>

        <div class="info_block" style="height:110px">
            <h4> Социальные сети</h4>
            <strong>Инстаграмм</strong> zinovev.leonid <br />
            <strong>ВКонтакте</strong> <p><a href="https://vk.com/misto_crips" class="btn btn-default btn_first" >Моя страница</a></p>
        </div>

        <div class="info_block">
            <h4>Репозиторий: </h4>
            <p><a href="https://bitbucket.org/MistoCrips/portfolio/src/master/portfolio/portfolio/" class="btn btn-default btn_first">BitBucket</a></p>
            <br/><br />
        </div>
        <div class="info_block">
            <h4>Либо Вы сможете связаться со мной, заполнив форму обратной связи: </h4>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "well" }))
            {
                @Html.ValidationSummary()

                <label>Введите свой адрес электронной почты</label><br />
                @Html.TextBoxFor(m => m.From, new { @class = "input-xxlarge" })<br />

                <label>Тема</label><br />
                @Html.TextBoxFor(m => m.Subject, new { @class = "input-xxlarge" })<br />

                <label>Сообщение</label><br />
                @Html.TextAreaFor(m => m.Body, new { @class = "input-xxlarge" })

                <br /><br />
                <input type="submit" class="btn btn-default btn_first btn_sub" value="Отправить" />
            }
        </div>

    </div>
</div>