﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <div>
        <div class="left_block">
            <div class="block_photo photo_index"> </div>
            <div class="Eye_block"></div>
        </div>
        <div class="right_block contact_block">
            <hgroup>
                <h2>Ошибка.</h2>
                <h1>При обработке запроса произошла ошибка.</h1>
            </hgroup>
        </div>
    </div>
</body>
</html>
