﻿
@{
    ViewBag.Title = "Служба в армии";
}
<div>
    <div class="left_block">
        <div class="block_photo photo_army"> </div>
    </div>
    <div class="right_block army_block">
        <h2>@ViewBag.Title</h2>

        <p>
            За 2 дня до выпускного меня забрали в армию. В связи с моей склонностью к програмированию я попал в штаб части,
            где ужаснулся от ПО, что имелось в распоряжении. Молодой специалист во мне просто был в восторге: такой простор
            для деятельности. Я подписал контракт и занялся программой для учета личного состава. Так же в колледже меня
            заинтересовала работа по сети и система работы с версиями. И идея новой программы заключалась в создании
            клиент-серверного приложения с различными уровнями доступа и записью всех изменений, для создания подобия работы
            с версиями.
        </p>

        <h4>Обязанности</h4>
        <ul class="info_ul">
            <li>Разработка, тестирование и поддержка ПО </li>
            <li>Администрирование базы данных</li>
            <li>Обработка данных</li>
            <li>Системное администрирование</li>
        </ul>
    </div>
</div>