﻿@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="All_block_father">
        <div class="left_block">
            <div class="block_photo photo_index"> </div>
        </div>
        <div class="right_block index_block">
            <div class="titul">
                <h1>AddWIC</h1>
                <hr style="width:50px; border: 1px solid white;"/>
                <p>Портфолио разработчика</p>
                <p>@Html.ActionLink("Обо мне", "About", null, new { @class = "btn btn-default btn_first btn-lg" })</p>
            </div>

            <div class="row">
                <div class="col-md-4 md-1">
                    <h3>Учеба в колледже</h3>
                    <p class="text_col_md_4">
                        Я увлекся программированием еще в 2011 году. Но это было неосознанное желание изучить что-то необъятное...
                    </p>
                    <p>@Html.ActionLink("Подробнее", "CollegePage", null, new { @class = "btn btn-default btn_first" })</p>
                </div>
                <div class="col-md-4 md-2">
                    <h3>Служба в армии</h3>
                    <p class="text_col_md_4">
                        За 2 дня до выпускного меня забрали в армию, где я подписал первый контракт сроком на 3 года...
                    </p>
                    <p>@Html.ActionLink("Подробнее", "FirstWork", null, new { @class = "btn btn-default btn_first" }) </p>
                </div>
                <div class="col-md-4 md-3">
                    <h3>Проекты</h3>
                    <p class="text_col_md_4">
                        Здесь Вы сможете ознакомиться с проектами, в которых я принимал участие...
                    </p>
                    <p>@Html.ActionLink("Подробнее", "ProjectPage", null, new { @class = "btn btn-default btn_first" })</p>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>


