﻿
@{
    ViewBag.Title = "Проекты";
}
<div class="All_block_father">
    <div class="first_div">
        <div class="left_block ">
            <div class="block_photo photo_project"> </div>
            <div class="Eye_block"></div>
        </div>
        <div class="right_block project_block">
            <h2>@ViewBag.Title</h2>

            <p>
                С 2016 года я предпочитаю разрабатывать приложения в WPF. И первая программа, написаная в WPF, была для дипломного проекта.
                Название дипломного проекта: «Организация распознавания аудиопотоков по протоколу MIDI Time Code с последующим удалением шумов»
            </p>
            <ul class="info_ul">
                <li>Программа должна быть написана в WPF</li>
                <li>Программа должна быть написана с использованием MVVM</li>
                <li>Передача данных должна осуществляться по протоколу UDP</li>
                <li>Программа должна получать входные данные с микрофона или с AUX кабеля</li>
                <li>При обработке входных данных исключать нахождение в потоке шумов</li>
                <li>Показывать статус отправки данных</li>
            </ul>
            <button type="button" class="btn_div1 btn btn-default btn_first">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="second_div" style="display:none">
        <div class="left_block ">
            <div class="block_photo photo_Pr1"> </div>
            <div class="Eye_block"></div>
        </div>
        <div class="right_block project_pr1">
            <h2>@ViewBag.Title</h2>

            <p>
                В 2017 году я начал разработку приложения для учета личного состава. Еще в 2016 году познакомился с технологией управления версиями.
                И идея новой программы заключалась в создании клиент-серверного приложения с различными уровнями доступа секретности и записью всех изменений, для создания подобия работы с версиями.
            </p>
            <ul class="info_ul">
                <li>Программа должна быть написана в WPF</li>
                <li>Программа должна быть написана с использованием MVVM</li>
                <li>Передача всех изменений должна осуществляться по протоколу TCP/IP</li>
                <li>При сворачивании приложения, оно должно помещаться в область уведомлений</li>
                <li>При получении изменения на сервере, уведомлять всех пользователей об этом изменении</li>
                <li>Хранить все изменения по датам в Xml файлах на сервере</li>
                <li>Предоставлять клиенту информацию по запросу</li>
                <li>Разграничевать получаемую клиентом информацию, в зависимости от уровня доступа пользователя</li>
            </ul>
            <p>
                Тестирование программы в реальных условиях помогло упростить рутинную однотипную работу, позволив заняться другими
                необходимыми задачами.
            </p>
            <button type="button" class="btn_div2 btn btn-default btn_first">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="tree_div" style="display:none">
        <div class="left_block ">
            <div class="block_photo photo_Pr2"> </div>
            <div class="Eye_block"></div>
        </div>
        <div class="right_block project_pr2">
            <h2>@ViewBag.Title</h2>

            <p>
                В 2018 году из разработок, код которых остался у меня, могу выделить простенький чат для бухгалтеров части.
                Закрытость войсковой части запрещает использование интернета и смартфонов. А бухгалтерам необходимо общение, не отрываясь от работы.
                Проблема в том, что они расположились в 3 разных кабинетах и объединенных только локальной сетью.
            </p>
            <ul class="info_ul">
                <li>Программа должна быть написана в WPF</li>
                <li>Программа должна быть написана с использованием MVVM</li>
                <li>Передача сообщений должна осуществляться по протоколу TCP/IP</li>
                <li>При сворачивании приложения, оно должно помещаться в область уведомлений</li>
                <li>При получении сообщения отображать его в отдельном окне (оповещение)</li>
                <li>Хранить все полученные и отправленные сообщения на компьютере клиента</li>
                <li>Показывать статус подключения всех пользователей</li>
            </ul>
            <button type="button" class="btn_div3 btn btn-default btn_first">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="four_div">
        <div class="left_block ">
            <div class="block_photo photo_Pr3"> </div>
            <div class="Eye_block"></div>
        </div>
        <div class="right_block project_pr3">
            <h2>@ViewBag.Title</h2>

            <p>
                С начала 2019 года меня заинтересовала разработка приложений для Android. Для себя я написал музыкальный плеер,
                работающий по музыкальным тегам и дополнительным параметрам, которые в дальнейшем перетекут в мое понимание
                психологии музыкальных предпочтений.
            </p>
            <p style="margin-top:25px">
                Так же, проходя собеседования на работу, компания "Мария" предоставила тестовое задание: Диспетчер замеров.
            </p>
            <ul class="info_ul">
                <li>Программа должна быть написана в WPF</li>
                <li>Программа должна быть написана с использованием MVVM</li>
                <li>Необходимо наличие тестов</li>
            </ul>
            <button type="button" class="btn_div4 btn btn-default btn_first">
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".second_div").hide();
        $(".tree_div").hide();
        $(".four_div").hide();
        $(".btn_div1").click(function () {
            $(".first_div").hide();
            $(".second_div").show();
        });
        $(".btn_div2").click(function () {
            $(".second_div").hide();
            $(".tree_div").show();
        });
        $(".btn_div3").click(function () {
            $(".tree_div").hide();
            $(".four_div").show();
        });
        $(".btn_div4").click(function () {
            $(".four_div").hide();
            $(".first_div").show();
        });
    });
    $(document).ready(function () {
        $(".second_div").hide();
        $(".btn1").click(function () {
            $(".first_div").hide();
            $(".second_div").show()
        });
        $(".btn2").click(function () {
            $(".second_div").hide();
            $(".first_div").show()
        });
    });
</script>
